<li class="list-group-item hidden-xs">
	<div class="row list-group-item-heading text-uppercase text-center">
		<h5 class="col-xs-3 col-sm-2 col-md-1 text-center">Id</h5>
		<h5 class="col-xs-10 col-sm-3 col-md-3">Employee</h5>
		<h5 class="col-xs-10 col-sm-3 col-md-4">Address</h5>
		<h5 class="col-xs-10 col-sm-1 col-md-2">Rate</h5>
		<h5 class="col-xs-10 col-sm-1 col-md-1 ">Hired Date</h5>
		<h5 class="col-xs-1">Action</h5>
	</div>
</li>
<li class="list-group-item" ng-repeat="rate in salary_rate" >
	<div class="row text-center">
		<div class="col-xs-10 col-sm-2 col-md-1">{{rate.id}}</div>
		<div class="col-xs-10 col-sm-3 col-md-3">{{rate.firstname + ' ' + rate.lastname}}</div>
		<div class="col-xs-10 col-sm-3 col-md-4">{{rate.home_address}}</div>
		<div class="col-xs-10 col-sm-1 col-md-2">{{rate.salary_rates[0].amount | currency : 'Php ' : 2 }}</div>
		<div class="col-xs-10 col-sm-1 col-md-1">{{rate.hired_date | dateFormat}}</div>
		<div class="col-xs-1"><i class="fa fa-minus-circle text-danger"></i></div>
	</div>
</li>
